<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">




<bean id="ja" class="mojaKlasy.Czlowiek" >
	<property name="imie" value="Piotrek"/>
	<property name="mojNapuj">
		 <ref bean="kawa1"/>
		 
		 </property>
	</bean>
	
<bean id="ja1" class="mojaKlasy.Czlowiek" >
	<property name="imie" value="Piotrek"/>
	<property name="mojNapuj">
		 <ref bean="kakao1"/>
		 
		 </property>
	</bean>
	
<bean id="kawa1" class="mojaKlasy.Kawa" />
<bean id="kakao1" class="mojaKlasy.Kakao" />

<bean id="adres" class="mojaKlasy.Adres">
<property name="ulica" value="ul.stefanska"/>
</bean>
<bean id="czlekZAdresem" class="mojaKlasy.Czlowiek" autowire="byName"/>

	
	

</beans>